:root {
    --first-main-color: #2E2F42;
    --second-main-color: #434455;
    --third-main-color: #4D5AE5;
    --hover-color: #404BBF;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --green-color: #31D0AA;
    --helper-text-color: #8E8F99;
    --modal-color: #FCFCFC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red; */
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* -------------------HEADER-------------------- */

.header {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-main-color);
    margin-right: 80px;
    text-align: center;
}

.header-logo-part {
    color: var(--first-main-color);
}

.header-logo-text{
    font-size: 12px;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current.header-link {
    color: var(--hover-color);
}

.current.header-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 49px;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-color);
}

.header-contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus:focus {
    color: var(--hover-color);
}

.input-wrap {
    position: relative;
}

.header-part-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-icon{
    fill: var(--helper-text-color);
}

.header-icon:hover{
    fill: var(--hover-color);
}

.header-search-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 38px;
    font-size: 14px;
    color: var(--first-main-color);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--first-main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-input:focus {
    border-color: var(--third-main-color);
}

.header-input:focus+.header-input-icon {
    fill: var(--third-main-color);
}

.modal-label-text {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--helper-text-color);
    margin-bottom: 4px;
}
/* -----------------HERO------------------- */
.hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.8), rgba(46, 47, 66, 0.8)), url(../images/hero-bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;
            padding-top: 115px;
            padding-bottom: 80px;
            width: 1519px;
            margin-left: auto;
            margin-right: auto;
}
.hero-title {
    font-size: 53px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 48px;
    width: 750px;
    margin-left: 100px;
    margin-right: auto;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--third-main-color);
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 575px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color);
}

/* ----------------------QUALITIES---------------------------- */
.qualities-item {
    max-width: calc((100% - 72px) / 3);
}

.qualities-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.qualities-icon-box {

    height: 112px;
    background-color: var(--cloud-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.qualities-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--first-main-color);
    margin-bottom: 8px;
}

.qualities-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
}